export(alpha2theta)
export(bfun)
export(distributions)
export(CDF)
export(CDF_est)
export(ES)
export(EstHMMGen)
export(ForecastHMMCdf)
export(ForecastHMMPdf)
export(ForecastHMMeta)
export(ForecastHMMVAR)
export(graphEstim)
export(GofHMMGen)
export(GridSearchS0)
export(PDF)
export(PDF_unc)
export(QUANTILE)
export(SimHMMGen)
export(SimMarkovChain)
export(Snd1)
export(theta2alpha)
importFrom("parallel", "detectCores","stopCluster","makeCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach","foreach", "%dopar%")
importFrom("VaRES","daep","dasypower","dast","dbeard")

